<!DOCTYPE html>
<html lang="en">

<head>
    <!-- meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> {% block title %}{% endblock %} </title>
    <meta name="description" content="And Repeat is a design studio by Martin Grasser based in the Bay Area. Focusing on designing systems that are appropriate, beautiful and functional in the world">
    <meta name="keywords" content="art design studio systems language translation multiples beauty analog digital">
    <!-- for Google -->
    <meta name="keywords" content="art design studio systems language translation multiples beauty analog digital">
    <meta name="author" content="Martin Grasser">
    <meta name="copyright" content="Martin Grasser">
    <!-- for Facebook -->
    <meta property="og:title" content="Martin Grasser">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://andrepeat.com/static/images/meta-image.png">
    <meta property="og:url" content="https://andrepeat.com">
    <meta property="og:description" content="And Repeat is a design studio by Martin Grasser based in the Bay Area. Focusing on designing systems that are appropriate, beautiful and functional in the world">
    <!-- for Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="">
    <meta name="twitter:creator" content="@martingrasser">
    <meta name="twitter:title" content="Martin Grasser">
    <meta name="twitter:description" content="And Repeat is a design studio by Martin Grasser based in the Bay Area. Focusing on designing systems that are appropriate, beautiful and functional in the world">
    <meta name="twitter:image" content="https://andrepeat.com/static/images/meta-image.png">
    <!-- Google Site Verification -->
    <meta name="google-site-verification" content="P-BxQA_zA-xMRpmd3snFH1vVbO2Ia12ROvvGKoudTNA" />
    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/base.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/paddings.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/media.css') }}" media>

    <!-- Favicons -->
    <link rel="icon" href="{{url_for('static', filename='images/favicon.ico')}}" type="image/icon">
    <!--
    <link rel="apple-touch-icon" href="img/favicon/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    -->

    {% block head %}{% endblock %}

</head>

<body>
    <div class='container-fluid'>
		{% if request.path == '/' %}
		<div class='videowrapper'>
			<iframe width="100%" height="100%" src="https://www.youtube.com/embed/6MgmbV5SbsA?rel=0&amp;controls=0&amp;showinfo=0&amp;autoplay=1&amp;modestbranding=1&amp;mute=1&amp;cc_load_policy=0&amp;loop=1&amp;playlist=6MgmbV5SbsA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		</div>
		{% endif %}
        <div class='header nav-bar' style='position: sticky;'>
            <div class='col-9 pull-left'><a href="/">And Repeat</a></div>
            <div class='col-3 pull-right text-right'><a href="/info">Info</a></div>
        </div>
        {% block content %}{% endblock %}
    </div>
    <footer>
        Copyright © 2017 And Repeat Inc.. All rights reserved.
    </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" crossorigin="anonymous" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous">
    </script>
    {# Google Analytics #}

    {% block scripts %}{% endblock %}

    <script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-105368283-1', 'auto');
    ga('send', 'pageview');
    </script>
</body>

</html>
