{% extends "base.html" %}

{% block content %}
<div class="row info-text">
    <div class="col-12 col-sm-8 col-md-6 col-lg-5">
        <p>And Repeat is a design studio by Martin Grasser based in the Bay Area. Focusing on designing systems that are appropriate, beautiful and functional in the world.</p>
        <p>Happy viewing.</p>
        <br>
        contact:<a href="mailto:info@andrepeat.com">info@andrepeat.com</a>
    </div>
</div>

<script type="text/javascript">
window.onload = function() {
    document.querySelector('.text-right').classList.add('text-border');
};
</script>

{% endblock %}
