{% extends "base.html" %}

{% block title %}{{content.title}}{% endblock %}

{% block content %}
    <div class="spacer-top"> </div>
    <div class='row intro nav-info'>
        <div class='col-md-10 col-sm-12 col-12'>
            <div class='row'>
                <div class="col-md-4 col-sm-12 col-12">
                    <span class="headings">context</span><br>
                    <div class="headings-content context">{{ content.context }}</div>
                </div>

                <div class="col-md-4 col-sm-3 col-6">
                    <span class="headings">project</span><br>
                    <span class="headings-content">{{ content.title }}</span><br>
                    <br>
                    <span class="headings">date</span><br>
                    <span class="headings-content">{{ content.date }}</span><br>
                    <br>
                </div>

                <div class="col-md-4 col-sm-3 col-6">
                    <span class="headings">designed</span><br>
                    <span class="headings-content">{{ content.designed }}</span><br>
                    <br>
                    <span class="headings">media</span><br>
                    <span class="headings-content">{{ content.media }}</span><br>
                    <br>
                </div>
            </div>
        </div>
    </div>

    <div class='spacer-page'> </div>
    {% for row in content['content'] %}
        <div class='{{ "row intro-body " + content.slug }}'>
            {% if row.get('images', False) %}
                {% for image in row['images'] %}
                    <div class="{{ row['col'] }}">
                        <img class="card-img-top project__image" src="{{ url_for('static',filename='images/' + content.slug + '/' + image) }}" />
                    </div>
                {% endfor %}
            {% elif row.get('text', False) %}
                 <div class="{{ row['col'] }}">
                     <p> {{ row['text'] }} </p>
                 </div>
            {% elif row.get('videos', False) %}
                {% for video in row['videos'] %}
                     <div class="{{ row['col'] }} text-center">
                         <video id="video" playsinline loop muted autoplay preload">
                            <source src="{{ url_for('static', filename='videos/' + video) }}" type="video/mp4">
                        </video>
                     </div>
                {% endfor %}
            {% endif %}
        </div>
    {% endfor %}
    <div class='spacer-page'> </div>
    <div class='spacer-page'> </div>

    <script type="text/javascript">
        window.onload = function() {
            // toggle nike video's
            video = document.querySelector('.unmuted-video > #video');
            if (video.muted) { video.muted = false; video.controls = true;}
            else { video.muted = true; video.controls = false;}
        }
    </script>

{% endblock %}

